<div id="portfolio" class="color white">	
	<div class="container">
		<div class="wrapper span12">
	
		<div class="page-title">
			<div class="page-title-inner">
				<h2><span>Nos activités</span></h2>
			</div>	
		</div>


				
		<div id="portfolio-wrapper" class="row-fluid">
				
			<div class="span12 intervention" style="margin-bottom : 30px; margin-left : 0px;">
			 
			<div class="row-fluid">
			
			<div class="span12">
				<div id="secteurs-interventions">
					<h3><strong>Nos secteurs d'interventions</strong></h3>
					XProjets bénéficie de la polyvalence de l'enseignement fourni à l'École polytechnique, ainsi que de la grande diversité des étudiants sur le campus (2000 intervenants potentiels, de la jeune promotion entrante aux polytechniciens quasi diplomés) pour offrir une gamme de prestations complète centrée sur notre expertise scientifique. Voici certains de nos services:
					<ul style="list-style-type:disc">
  						<li>Conception d'évènements de type wargame sur le campus de l'École.</li>
 					    <li>Création de sites internet et développement de logiciels pour votre entreprise.</li>
 					    <li>Etudes de marché pour les innovations scientifiques et les projets de développement économique.</li>
 					    <li>Ingénierie et sciences appliquées en mathématiques, mécanique, chimie et biologie.</li>
					</ul>
				</div>
			</div>
			
			</div>
			
			</div>
			
			<div class="span12 demarche" style="text-align : justify; margin-bottom : 30px; margin-left : 0px;">
				<div >
					<h3><strong>Notre démarche</strong></h3>
					<p>Depuis sa création, XProjets s'inscrit dans une démarche de qualité et la satisfaction de nos clients est notre plus grande fierté. Dans ce cadre, de nombreux process ont été mis en vigueur au sein de notre Junior-Entreprise.</p>
					<p>Preuve de notre professionnalisme, nous utilisons une méthodologie fixe qui nous permet de traiter tout type de missions.</p>
				</div>
				
				<div style="text-align : center; margin-top : 30px; margin-bottom : 30px;">
					<img src="{{ asset('img/methodologie.png') }}" alt="methodologie" title="methodologie" />
				</div>
				
				<div id="processus">
					<ul>
						<li>
							<strong>Prise de contact :</strong><br>
							Moins de 24h après avoir déposé votre appel d'offre, un chef de projet d'XProjets prend contact avec vous pour répondre à vos questions et comprendre vos besoins dans les moindres détails.
						</li>

						<li>
							<strong>Devis :</strong><br>
							A la suite de votre premier entretien téléphonique ou de votre première rencontre, le chef de projet en charge de votre étude recherche les étudiants ayant les compétences idoines pour réaliser la mission. Ensemble, ils rédigent une proposition d'intervention ou devis définissant le cahier des charges et l'échéancier correspondant à la mission que vous souhaitez nous confier.
						</li>

						<li>
							<strong>Phase de recherche :</strong><br>
							Dès lors que le projet vous satisfait, le chef de projet rédige la convention ou contrat qui lie XProjets à votre entreprise, convention comprenant notamment une close de confidentialité. Le(s) intervenant(s) recruté(s) et préparé(s) par le chef de projet se lance(nt) dans une phase de recherche en liaison avec les laboratoires de l'École polytechnique. Suivi au quotidien par le chef de projet, il(s) réalise(nt) des points d'avancement réguliers avec vous.
						</li>

						<li>
							<strong>Remise du produit fini :</strong><br>
							Conformément à l'échéancier mis en place dans la convention, le livrable vous est remis à temps par le chef de projet et le(s) intervenant(s). Accompagné d'explications, le suivi du produit peut également être réalisé pendant plusieurs mois après sa remise en main propre.
						</li>

						<li>
							<strong>Débriefing :</strong><br>
							A l'issue de la mission, un questionnaire qualité vous est remis et nous permet d'améliorer notre démarche au quotidien. Par ailleurs, le chef de projet réalise un débriefing complet du déroulement de la mission avec le(s) intervenant(s) dans un souci d amélioration continue.
						</li>
					</ul>
				</div>
			
			</div>			

			<div class="span12 specificite" style="text-align : justify; margin-bottom : 30px; margin-left : 0px;" >
			
			<div class="row-fluid">
			
				<div class="span6">
				<h3><strong>Dynamisme</strong></h3> 
					<p>Rapidité et efficacité sont les maîtres mots. Sous 24h, nous établissons un premier contact et nous nous engageons à vous fournir un devis sous 8 jours.</p>
					<p>Avec XProjets, vous bénéficiez de la flexibilité et de la réactivité d'une petite structure. Nous prenons vos demandes en compte instantanément.</p>
					<img src="{{ asset('img/photo_dynamisme.jpg') }}" alt="équipe XProjets, local XProjets" />
				</div>
					
				<div class="span6">
				<h3><strong>Performance</strong></h3> 
					<p>Les produits livrés sont à forte valeur ajoutée et correspondent à la mise en pratique de la créativité et la qualité du travail des élèves ingénieurs polytechniciens. XProjets a ainsi développé une expertise dans le conseil en innovation, le développement d'outils informatiques, de solutions Web, de prototypes en mécanique et en physique, mais également dans la réalisation d'études de marché.</p>

					<div style="text-align : center">
					<a href="{{ asset('downloads/plaquette.pdf') }}"><img src="{{ asset('img/plaquette_xprojets.png') }}" alt="plaquette XProjets" /></a>
					<p>Notre plaquette</p>
					</div>
				</div>
			
			</div>
			</div>
			
					
		</div>
			
		</div>
	</div>
</div>
