<!-- start: 2nd Page - Mot du président -->
	<div id="services" class="color black">
		
		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">
				
							<!-- start: Page Title -->
			<div class="page-title">

				<div class="page-title-inner">

					<h2><span>Mot du président</span></h2>

				</div>	

			</div>
			<!-- end: Page Title -->
			
			<!-- start: Row -->
      		<div class="row-fluid">
	
        		<div class="span12" >
					
					<div id="mot-president">	
					
					<p>
						XProjets est  la Junior-Entreprise de l'École polytechnique.
						Elle sera pour vous la porte d’entrée vers les compétences pluridisciplinaires de près de 2 000 étudiants de l’École polytechnique, première école d’ingénieurs de France. 
					</p>	
					
					<p>
						Être la Junior-Entreprise de l’École polytechnique c’est être le reflet d’une école reconnue sur le plan international pour la qualité et la rigueur de l’enseignement qu’elle offre à ses élèves.
						L’école met également à disposition des élèves des laboratoires de niveau mondial et les installations du Drahi-X-Novation Center, centre d’innovation et d’entrepreneuriat.
					</p>	
					
					<p>
						C’est dans cet écosystème scientifique propice à l’innovation comme à la création, dans une culture de la transdisciplinarité qu’XProjets réalise des missions dans de multiples secteurs.
						Nos élèves ont les compétences pour mener à bien des études d’une grande complexité dans des domaines très divers : intelligence artificielle, transformation digitale, conseil en stratégie ou encore mécanique pour n’en citer que quelques-uns.
						Nous accompagnons depuis 1981 aussi bien des grands groupes, que des PME et de jeunes start-ups.
					</p>	
					
					<p>
						XProjets met à votre service toutes les qualités d’analyse, d’innovation, de rigueur et d’esprit critique des polytechniciens, en apportant un suivi de qualité, doublé d’une disponibilité et d’un dynamisme qui témoignent de notre investissement. 
					</p>	

					<p style="text-align : right; margin-top : 70px;">
					Théophile de Bonnaventure <br>
                    Président d'XProjets
					</p>
					
					</div>
					
					<div id="img-president">
					<img src="{{ asset('img/Tok_Lot.jpg') }}" class="img-circle img-polaroid" alt="Président XProjets X2017" />
					</div>

					
        		</div>

			
			</div>
			
			<div class="clearfix"></div>
			<hr class="clean">					
			</div>
			<!-- end: Wrapper -->
		
		</div>
		<!--end: Container -->
		
	</div>
<!-- end: 2nd Page - Services -->