{% extends 'Mission/base.html.twig' %}

{% block title %} Erreur  {% endblock %}

{% block body %}

    
    <br><br><br><br><br>
    <center><h1 class="display-4">Vous avez déjà postulé à cette mission!</h1></center>

{% endblock %}