{% extends 'Mission/base.html.twig' %}

{% block title %} Succès  {% endblock %}

{% block body %}

    
    <br><br><br><br><br>
    <center><h1 class="display-4">Candidature Enregistrée!</h1></center>

{% endblock %}